input[type='text'] {
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
    border:none;
    outline:none;
    font-size:13px;
    font-family: 'Rajdhani', sans-serif;
    width: 40%;

}

input[type='number'] {
padding:10px;
margin-bottom:20px;
border-radius:5px;
border:none;
outline:none;
font-size:13px;
font-family: 'Rajdhani', sans-serif;
width: 30%;

}





#leftNavParent {
margin-top: 60px ;
background-color:#400d16;
width: 25%;
height: 600px;
float: left;
box-shadow: 0px 4px 3px rgba(255, 255, 255, 0.054),
0px 8px 13px rgba(255, 255, 255, 0.054),
0px 18px 15px rgba(255, 255, 255, 0.1);
}


#leftNavParent h1 {
font-weight: bolder;
color: white;
font-weight: bold;
font-size: 40px;
padding-top: 220px;
text-align: center;
font-family: 'Rajdhani', sans-serif;
margin-left: 10px;
margin-right: 10px;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
0px 8px 13px rgba(0,0,0,0.1),
0px 18px 23px rgba(0,0,0,0.1);
transition: all .2s ease-in-out;

}

#leftNavParent h1:hover{
  transform: scale(1.02);
}




#leftNavParent p {
font-weight: lighter;
color: white;
padding-top: 30px;
text-align: center;
font-family: 'Rajdhani', sans-serif;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
0px 8px 13px rgba(0,0,0,0.1),
0px 18px 23px rgba(0,0,0,0.1);
padding: 50px;
transition: all .2s ease-in-out;

}

#leftNavParent p:hover{
  transform: scale(1.1);
}

#parentFillForm {
margin-top: 60px ;
float: right;
width: 75%;
height: 600px;
background: url(/img/footer_lodyas.png);
-webkit-animation:100s scroll infinite linear;
-moz-animation:100s scroll infinite linear;
-o-animation:100s scroll infinite linear;
-ms-animation:100s scroll infinite linear;
animation:100s scroll infinite linear;

font-family: 'Rajdhani', sans-serif;
box-shadow: 0px 4px 3px rgba(255, 255, 255, 0.054),
0px 8px 13px rgba(255, 255, 255, 0.054),
0px 18px 15px rgba(255, 255, 255, 0.1);

}



@-webkit-keyframes scroll{
100%{
  background-position:0px -3000px;
}
}

@-moz-keyframes scroll{
100%{
  background-position:0px -3000px;
}
}

@-o-keyframes scroll{
100%{
  background-position:0px -3000px;
}
}

@-ms-keyframes scroll{
100%{
  background-position:0px -3000px;
}
}

@keyframes scroll{
100%{
  background-position:0px -3000px;
}
}


#parentFillForm form {
padding: 50px;
text-align: center;
margin-top: 250px;

}




#parentButton {
    width: 18%;

    padding:15px;


    border-radius:5px;
    border:none;
    outline:none;

    font-size:13px;
    font-weight:700;

    background:#145e97;
    color:#FFF;
    opacity:0.8;
}


#parentButton[type="submit"]{
        padding:5px;
        margin-bottom:20px;
        margin-left: 30px;
        border-radius:5px;
        border:none;
        outline:none;
        font-size:15px;
        font-family: 'News Cycle', sans-serif;
}

#parentButton[type="submit"]:hover{
    cursor:pointer;
    opacity:1;
}
/* ------------------------------------------------- */


#tableAreaParent{
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  padding-top: 720px;
  padding-bottom: 50px;


}

#tableInfo {
  margin-left: auto;
  margin-right: auto;

}

#tableInfo tr{

transition: all .2s ease-in-out;

}

#tableInfo tr:hover{
  transform: scale(1.02);
}


#gradesChart {
  margin: 0px auto;
  width: 70% !important; 
  height: 70% !important;
}

#gradesChart label{
  font-size: 20px;
}

#chartAreaParent{
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  width: 100%;
}

#tableInfo td, th {
  border-bottom: white solid 1px;
  font-size: 20px;
  padding: 10px;
  color: #f5f5f5;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;

}
#tableInfo th{
  color: #f5f5f5;
  font-size: 25px;
  text-shadow: 0px 4px 3px #400d164f,
  0px 8px 13px #400d164f,
  0px 18px 23px #400d164f;
  font-family: 'Rajdhani', sans-serif;

  
}